<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/img/favicon.ico">

    <title>台北好棒棒</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/cover.css" rel="stylesheet">

    <!-- Custom js file for this page -->
    <script src="/public/js/question.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/js/jquery.min.js"></script>



    <script src="/public/js/react/react-0.12.2.js"></script>
    <script src="/public/js/react/JSXTransformer-0.12.2.js"></script>
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/">台北好棒棒</a></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#"><%=user.name%> + [ <span id="userScore"><%=user.score%></span> ]</a></li>
                            <!--
                            <li><a href="#">Features</a></li>
                            -->
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

